bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SoccerUlanzi/.idea/.gitignore
/.idea/.idea.SoccerUlanzi/.idea/encodings.xml
/.idea/.idea.SoccerUlanzi/.idea/indexLayout.xml
/SoccerUlanzi.sln.DotSettings.user
/.idea/.idea.SoccerUlanzi/.idea/vcs.xml
